@model BenefitsCostPreviewViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-center bg-transparent mt-5">
    <div class="card-title bg-primary-color">
        <h2>Total Cost</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h4 class="secondary-color">Annual</h4>
                <p>$@((Model.TotalCostPPP * 26).ToString("#.00"))</p>
            </div>
            <div class="col-6">
                <h4 class="secondary-color">Per Pay Period</h4>
                <p>$@Model.TotalCostPPP.ToString("#.00")</p>
            </div>
        </div>
    </div>
</div>

<div class="card text-center bg-transparent mt-5">
    <div class="card-title bg-primary-color">
        <h2>Employees</h2>
    </div>
    <div class="card-body overflow-auto border-0">
        <div class="row">
            <table class="table table-responsive text-white">
                <thead>
                    <tr class="secondary-color">
                        <th colspan="2">Employee</th>
                        <th colspan="4">Benefits Cost</th>
                        <th colspan="3">Deductions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" class="align-bottom">
                            <a asp-action="Employee" class="splash-color" style="text-decoration: none !important;"><span class="iconify" data-icon="mdi:account-plus" style="margin-right:5px;"></span>Add Employee</a>
                        </td>
                        <td class="align-bottom text-muted small bg-table-offset-color">Self<br />($1000 ea.)</td>
                        <td class="align-bottom text-muted small bg-table-offset-color">Dependents<br />($500 ea.)</td>
                        <td class="align-bottom text-muted small bg-table-offset-color">Discount</td>
                        <td class="align-bottom text-muted small bg-table-offset-color fw-bold">Total</td>
                        <td class="align-bottom text-muted small">Percent Employer Paid</td>
                        <td class="align-bottom text-muted small">Employer Cost<br />(Per Pay Period)</td>
                        <td class="align-bottom text-muted small">Employee Deduction<br />(Per Pay Period)</td>
                    </tr>
                    @foreach (var employee in Model.Employees)
                    {
                        <tr>
                            <td>@employee.EmployeeName</td>
                            <td>
                                <a asp-action="Employee" asp-route-id="@employee.EmployeeId" class="splash-color" style="text-decoration: none !important;">
                                    <span class="iconify" style="margin-right: 5px;" data-icon="mdi:account-edit"></span>
                                </a>
                                <a href="" id="employee-@employee.EmployeeId" data-employee-id="@employee.EmployeeId" class="splash-color" style="text-decoration: none !important;">
                                    <span class="iconify" style="margin-right: 5px;" data-icon="mdi:account-remove"></span>
                                </a>
                            </td>
                            <td class="bg-table-offset-color">$@employee.SelfCostAnnual.ToString("#.00")</td>
                            <td class="bg-table-offset-color">$@employee.DependentsCostAnnual.ToString("#.00") (@employee.DependentsCount)</td>
                            <td class="bg-table-offset-color">$@employee.DiscountAnnual.ToString("#.00")</td>
                            <td class="bg-table-offset-color fw-bold">$@employee.TotalAnnual.ToString("#.00")</td>
                            <td>@((employee.EmployerCoverageRate * 100).ToString("#.00"))%</td>
                            <td class="fw-bold">$@employee.EmployerCostPPP.ToString("#.00")</td>
                            <td>$@employee.EmployeeCostPPP.ToString("#.00")</td>
                        </tr>    
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
